NEXT_PUBLIC_SITE_URL=https://seudominio.com.br
NEXT_PUBLIC_ADSENSE_CLIENT=ca-pub-SEU-CODIGO
NEXT_PUBLIC_ADSENSE_SLOT_HOME_TOP=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_HOME_BOTTOM=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_CATALOG_SIDE=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_CATALOG_INLINE=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_TOOL_INLINE=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_GUIDES_SIDE=0000000000
NEXT_PUBLIC_ADSENSE_SLOT_GUIDES_INLINE=0000000000
GOOGLE_SITE_VERIFICATION=SEU-CODIGO
CONTACT_WEBHOOK_URL=SEU-WEBHOOK
SECURITY_CONTACT_EMAIL=security@seudominio.com.br
